/* 
    Created on : Nov 21, 2016, 12:53:29 PM
    Author     : Sofía Chardin | ALMAMUT
*/

html {
	overflow-x: hidden;
	margin: 0;
}
::-webkit-scrollbar {
  display: none;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: RobotoCond;
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: RobotoSlab;
    src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
}
a:hover {
  text-decoration: none;
  color: pink
}
body {
	overflow-x: hidden;
  background-color: #fafafa;
  color: #000;
	font-size: 0.9em;
	line-height: 130%;
	letter-spacing: 0.04em;
  font-family: Roboto;
  	margin: 0;
  margin-top: 100px;
	text-align: center;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
}

/*** NAV ***/
.navbar {
  height: 100px;
}

.navbar-default, .navbar-collapse, .navbar-default, .navbar-form {
  background-color: #fafafa;
}
.navbar-nav .open .dropdown-menu {    
  text-align: center;
  font-size: 1em;
}
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

header {
  height: 100px;
}

#vestuarios, #ki {
  position: relative;
  min-height: 100vh;
  text-align: center;
}

.ropa img, .ropa a img {
  max-width: 100%;
  height: auto;
}
.ropa > a > img,
.ropa > img {
  line-height: 1;
}
.glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
  color: #a03;
}
.subtitle {
	color: #a9a9a9
}

ul {
	padding: 0;
}
li {
	list-style: none;
	list-style-type: none;
}
a { 
	text-decoration: none;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a, .dropdown-menu>li>a, .dropdown-menu>li>a {
  font-size: 1.4em;
  color: #000;
}
.navbar-default, 
.navbar-collapse {
  padding-top: 10px;
}
.navbar-brand {
  padding:3px 0 0 0;
}
.navbar-brand img {
  padding-left: 10px;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
  color: #a03;
}

#ginapeirettilogo {
	max-height: 70px;
}
#portfolio {
	padding: 10vh 0vh 0 0vh;
}
#sidebar {
  width: 18vw;
  min-height: 70vh;
	float: right;
  background-color: #a03;
  color: #fafafa;
  border-radius: 3px;
  margin-right: 8vh;
}
#sidebar ul li {
	margin-bottom: 20px;
}
#sidebarText {
  font-size: 1.9em;
}
#retrato {
	width: 100%;
}
#logoWarapa {
	height: 85px;
}
#firma {
	width: 30%;
	margin-left: 30px;
}

.item p { 
}
.item p span{
   color: white; 
   font: bold 12px Helvetica, Sans-Serif; 
   background: rgb(255, 255, 255); /* fallback color */
   background: rgba(255, 255, 255, 0.5);
   padding: 6px; 
}

.image-row {
	width: 60vw;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.image-row li a img  {
	height: 200px;
	display: inline;
}
.image-row li div {
	margin: 0 8px 0 8px;
}
.horizontal-img {
	width: 301.88px;
	height: 200px;
	overflow: hidden;
	float: left;
}
.vertical-img {
	overflow: hidden;
	height: 200px;
	width: 132.5px;
	float: left;
}
.image-row {

}
.image-row li a img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 2s;
}
.image-row li a img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.image-row li {
	display: inline;
}

footer {
  background-color: #000;
  color: #eee;
}
footer a {
  color: #eee;
}

.socialmedia {
  list-style: none;
  margin: 0;
}

.sm-icon { 
  display: inline-block;
}

.sm-icon a {
  width: 38px; 
  height: 35.5px; 
  background-position: 0px -3px; 
  vertical-align: top;
}
.sm-icon a:hover {
  background-position: 0px 35px;
}

.twitter { background-image: url('../img/icon/twitter.png'); background-size: 38px 74px; }
.facebook { background-image: url(../img/icon/facebook.png); background-size: 38px 74px; }
.instagram { background-image: url(../img/icon/instagram.png); background-size: 38px 74px; }
.phone { background-image: url(../img/icon/phone2.png); background-size: 38px 74px; }
.mail { background-image: url(../img/icon/mail2.png); background-size: 38px 74px; }

#contacto {
  height: 50vh;
  z-index: -1;
  margin-top: -5px;
}

/* CONTACT FORM */
.cont-contactInfo {
  float: left;
  padding-right: 5%;
  width: 45%; 
}

#contact-items {
  position: relative;
  display: inline-block;
  width: 50%;
  float: right; 
  margin-top: 12%;
}

.sm-icon {
  font-size: 2em;
  vertical-align: middle;
  margin: 0 20px 0 20px; 
}

.cont-contactBtn {
  height: 100%;
  margin: 0 auto;
  width: 50%;
  display: inline-block;
  position: relative;
  float: left;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px; 
}

.cont-contactBtn .cont-flip {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%; 
}
.cont-contactBtn .cont-flip .front, .cont-contactBtn .cont-flip .back {
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0 30%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; 
}

.cont-contactBtn .cont-flip .front {
  background-color: #000; 
}

.cont-contactBtn .cont-flip .back {
  background-color: #a03;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg); 
}

.cont-contactBtn .btn-cf {
  margin-top: 60%; 
}
.cont-contactBtn .cont-flip.flipped {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg); 
}
.cont-contactBtn .contact-form {
  padding: 0 10%;
  margin-top: 10%;
  width: 80%; 
}
.cont-contactBtn .control-group input, .cont-contactBtn .control-group textarea {
  border: 1px solid #808080;
  font-size: 12px;
  padding: 5px;
  float: left
}
.control-group input[type="text"] {
  color: #000;
  float: left;
  margin-bottom: 8px;
  padding-left: 3%;
  width: 96.2%; 
}
.gutter {
  margin-right: 2.8%; 
}
.cont-contactBtn .control-group textarea {
  height: 106px;
  padding-left: 3%;
  margin-bottom: 22px;
  width: 96.2%; 
  color: #111;
}

.cont-contactBtn .control-group input[type="submit"] {
  background-color: #000;
  border: none;
  color: #fff;
  height: 45px;
  width: 100%;
  max-width: 93px;
  text-align: center; 
}
.cont-contactBtn .close {
  display: block;
  height: 19px;
  width: 19px;
  background-image: url("../img/close.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  right: 3%; 
}
.help-block {
  color:#87CEEB;
  font-weight: bold;
}
#btnSubmit {
  background-color:#87CEEB;
  color: #a03;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  border: 3px solid	#67CEED;
}
.btn-cf {
  background-color: #a03;
  border: 3px transparent solid;
  border-radius: 3px;
  color: #fafafa;
  display: block;
  font-size: 15px;
  font-weight: normal;
  margin: 0 auto;
  max-width: 280px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%; 
}
.btn-cf:hover {
  background-color: transparent;
  border: 3px #a03 solid;
  color: #a03;
  font-weight: bold;
}


.hidden {
	display: none;
}
/*FANCYBOX*/
.fancybox-nav span {
 visibility: visible;
}

.fancybox-next span {
 left: auto;
 right: 20px;
}

.fancybox-prev span {
 left: 20px;
}

/* fancybox bTNS*/
#fancybox-buttons {position: fixed; left: 0; width: 100%; z-index: 8050;}
#fancybox-buttons.top {top: 10px;}
#fancybox-buttons.bottom {bottom: 10px;}
#fancybox-buttons ul {display: block; width: 166px; height: 30px; margin: 0 auto; padding: 0; list-style: none; border: 1px solid #111; border-radius: 3px;-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05); -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05); box-shadow: inset 0 0 0 1px rgba(255,255,255,.05); background: rgb(50,50,50); background: -moz-linear-gradient(top, rgb(68,68,68) 0%, rgb(52,52,52) 50%, rgb(41,41,41) 50%, rgb(51,51,51) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(68,68,68)), color-stop(50%,rgb(52,52,52)), color-stop(50%,rgb(41,41,41)), color-stop(100%,rgb(51,51,51))); background: -webkit-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%); background: -o-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%); background: -ms-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%); background: linear-gradient(to bottom, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 );}
#fancybox-buttons ul li {float: left; margin: 0; padding: 0;}
#fancybox-buttons a {display: block; width: 30px; height: 30px; text-indent: -9999px; background-color: transparent; background-image: url('fancybox_buttons.png'); background-repeat: no-repeat; outline: none; opacity: 0.8;}
#fancybox-buttons a:hover {opacity: 1;}
#fancybox-buttons a.btnPrev {background-position: 5px 0;}
#fancybox-buttons a.btnNext {background-position: -33px 0; border-right: 1px solid #3e3e3e;}
#fancybox-buttons a.btnPlay {background-position: 0 -30px;}
#fancybox-buttons a.btnPlayOn {background-position: -30px -30px;}
#fancybox-buttons a.btnToggle {background-position: 3px -60px; border-left: 1px solid #111; border-right: 1px solid #3e3e3e; width: 35px}
#fancybox-buttons a.btnToggleOn {background-position: -27px -60px;}
#fancybox-buttons a.btnClose {border-left: 1px solid #111; width: 35px; background-position: -56px 0px;}
#fancybox-buttons a.btnDisabled {opacity : 0.4;cursor: default;}
#fancybox-thumbs {position: fixed; left: 0; width: 100%; overflow: hidden; z-index: 8050;}
#fancybox-thumbs.bottom {bottom: 2px;}
#fancybox-thumbs.top {top: 2px;}
#fancybox-thumbs ul {position: relative; list-style: none; margin: 0; padding: 0;}
#fancybox-thumbs ul li {float: left;padding: 1px;opacity: 0.5;}
#fancybox-thumbs ul li.active {opacity: 0.75; padding: 0; border: 1px solid #fff;}
#fancybox-thumbs ul li:hover {opacity: 1;}
#fancybox-thumbs ul li a {display: block; position: relative; overflow: hidden; border: 1px solid #222; background: #111; outline: none;}
#fancybox-thumbs ul li img {display: block; position: relative; border: 0; padding: 0; max-width: none;}

/* CAROUSEL */
.carousel-inner.onebyone-carosel { margin: auto; width: 100%; text-align: center;}
.onebyone-carosel .active.left { left: -100%; }
.onebyone-carosel .active.right { left: 100%; }
.onebyone-carosel .next { left: 100%; }
.onebyone-carosel .prev { left: -100%; } 
.carousel {
  position: relative;
}
#myCarousel { background-color: #000; max-width: 100%; text-align: center}
.carousel-inner {
  position: relative;
  display: block;
  overflow: hidden;
  height: auto;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 1s ease-in-out left;
  -o-transition: 1s ease-in-out left;
  transition: 1s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
  text-align: center;
  height: auto;
  margin: auto;
}
  /** single-item multi carousel*/
.carousel-inner.onebyone-carosel { margin: auto; width: 100%; }

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner.onebyone-carosel > .item {
  -webkit-transition: -webkit-transform .6s ease-in-out;
  -o-transition: -o-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  }
  .carousel-inner.onebyone-carosel > .item.next,
  .carousel-inner.onebyone-carosel > .item.active.right {
  left: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  }

  .carousel-inner.onebyone-carosel > .item.prev,
  .carousel-inner.onebyone-carosel > .item.active.left {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }

  .carousel-inner.onebyone-carosel > .item.next.left,
  .carousel-inner.onebyone-carosel > .item.prev.right,
  .carousel-inner.onebyone-carosel > .item.active {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
}

.carousel-inner.onebyone-carosel > .active,
.carousel-inner.onebyone-carosel > .next,
.carousel-inner.onebyone-carosel > .prev {
display: block;
}

.carousel-inner.onebyone-carosel > .active {
left: 0;
}

.carousel-inner.onebyone-carosel > .next,
.carousel-inner.onebyone-carosel > .prev {
position: absolute;
top: 0;
width: 100%;
}

.carousel-inner.onebyone-carosel > .next {
left: 100%;
}

.carousel-inner.onebyone-carosel > .prev {
left: -100%;
}

.carousel-inner.onebyone-carosel > .next.left,
.carousel-inner.onebyone-carosel > .prev.right {
left: 0;
}

.carousel-inner.onebyone-carosel > .active.left {
left: -100%;
}

.carousel-inner.onebyone-carosel > .active.right {
left: 100%;
}
/*--------------------------------------------------------------------------*/
 .carousel-control.left, .carousel-control.right  {
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: none;
  filter: none;
}
/* CAROUSEL */


.rig {
    max-width:1200px;
    margin:0 auto; /*center aligned*/
    margin-right: 23vw;
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
}
.rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.contImgV.rig li {
  display: block;
}
        
/* The wrapper for each item */
.rig-cell {
    margin: 4px;
    padding: 0;
    box-shadow: none;
    display:block;
    position: relative;
    overflow:hidden;
}
        
/* If have the image layer */
.rig-img {
    display:block;
    height: 200px;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

.rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #000000 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
.rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    line-height: 130%;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
.rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}



/*******2 GALERIA */

.contImgV {
  width: 100% ;
  overflow:hidden;
  max-width: 65%;
  max-height: 80%;
  margin: auto;
}

.four-img, .three-img-h {
  width: 48.2%;
  display: inline;
  float: left;
}
.three-img-h, .four-img, .three-img-v {
    margin: 4px;
}

.four-img {
  float: left;
}

.three-img-v {
  width: 48.2%;
  display: inline;
  float: left;
}
.vestuario, .ropa {
  text-align: center;
  padding: 0;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}
.vestuario h3, .ropa h3 {
  color: #a03;
}

/* CAROUSEL2 */
.carousel-inner2.onebyone-carosel2 { margin: auto; width: 100%; margin-top: 10vh;}
}
.carousel-inner2 {
  position: relative;
  display: block;
  overflow: hidden;
  height: auto;
}
.carousel-inner2 > .item {
  display: none;
  position: relative;
  -webkit-transition: 1s ease-in-out left;
  -o-transition: 1s ease-in-out left;
  transition: 1s ease-in-out left;
}
.carousel-inner2 > .item > img,
.carousel-inner2 > .item > a > img {
  line-height: 1;
}

#myCarousel2 {
  width: 100%;
  height: 100%;
  margin: auto;
}

.onebyone-carosel2 {
  position: relative;
  background-color: none;
}

@media (min-width: 801px) {
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner2 > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner2 > .item.next,
  .carousel-inner2 > .item.active.right {
    left: 0;
    border: none;
    -webkit-transform: translate3d(31.5%, 0, 0);
            transform: translate3d(31.5%, 0, 0);
  }
  .carousel-inner2 > .item.prev,
  .carousel-inner2 > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-31.5%, 0, 0);
            transform: translate3d(-31.5%, 0, 0);
  }
  .carousel-inner2 > .item.next.left,
  .carousel-inner2 > .item.prev.right,
  .carousel-inner2 > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}}

.carousel-inner2 .item img,
.carousel-inner2 .item a img {
  max-width: 100%;
  height: auto;
}
